<h1>Edit Transaction</h1>

<form action="/transactions/edit/<%= transaction._id %>" method="POST">

    <label>Name</label>
    <input name="name" class="form-control" value="<%= transaction.name %>">

    <label>Amount</label>
    <input name="amount" type="number" class="form-control" value="<%= transaction.amount %>">

    <label>Type</label>
    <select name="type" class="form-control">
        <option <%= transaction.type === "Income" ? "selected" : "" %> >Income</option>
        <option <%= transaction.type === "Expense" ? "selected" : "" %> >Expense</option>
    </select>

    <label>Date</label>
    <input name="date" class="form-control" value="<%= transaction.date %>">

    <button class="btn btn-primary mt-3">Update</button>
</form>
